* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(16, 16, 23);
    scroll-behavior: smooth;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.header-content {
    display: flex;
    height: 100px;
    align-items: center;
    position: absolute;
    top: 0px;
    transition: top 0.3s linear;
    z-index: 10;
    padding: 0px 50px;
    width: 100%;
    background-color: rgba(16, 18, 23, 0.8);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 11;
}

@media screen and (max-width: 728px) {
    .header-content {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 328px) {
    .nav-menu ul {
        display: none !important;
    }

    .welcome-section {
        margin-top: 55px !important;
    }
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-menu-item {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.nav-menu-item:visited {
    color: rgba(255, 255, 255, 0.7);
}

.nav-menu-item:active {
    color: red;
}

.logo {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: relative;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 77, 133), rgba(0, 204, 255)) 1;
}

.logo-initials {
    position: absolute;
    top: 25%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 77, 133), 2px 2px 1px rgba(0, 77, 133);
    color: rgba(255, 255, 255, 0.7);
}

.nav-menu {
    justify-content: flex-end;
}

.content {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content-container {
    display: block;
    margin: 0px auto;
    width: 100%;
}

.welcome-section {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    height: 100vh;
}

.snap-section {
    height: 90vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 728px) {
    .welcome-section {
        display: flex;
        padding: 25px;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .welcome-section div h2 {
        font-size: 18px !important;
    }

    .contact-section {
        height: 100vh;
    }

    .snap-section-small {
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
    }

    .section-title {
        padding-top: 60px;
        margin: 0 !important;
    }

}

.welcome-section div {
    display: block;
    padding: 5px 0px 5px 0px;
}

.welcome-section div h1 {
    font-size: 18px;
    background: -webkit-linear-gradient(rgba(0, 77, 133), rgba(0, 204, 255));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-section div h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 38px;
}

.welcome-section div h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 36px;
}

.welcome-introduction {
    max-width: 700px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    margin: 30px 0px 30px 0px;
}

.welcome-introduction > p {
    text-indent: 20px;
}

.about-section {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
    padding: 200px 0px;
    max-width: 1000px;
}

@media screen and (max-width: 728px) {
    .about-section {
        padding: 25px;
    }
}

@media screen and (max-width: 328px) {
    .about-section {
        padding: 5px;
    }
}

.section-title {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 35px 0px;
}

.about-section h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
}

.about-section img {
    height: 35px;
    width: 35px;
    margin: 0px 5px 0px 5px;
}

.about-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

@media screen and (max-width: 728px) {
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .about-picture-container {
        max-width: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-picture-container-wrapper {
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .about-picture-container-wrapper > img {
        height: 100px !important;
        width: 100px !important;
        margin: auto;
    }

    .content-text {
        justify-content: center;
        margin-top: 5px;
    }

    .about-text-wrapper > p {
        font-size: 12px !important;
    }

    .content-text {
        font-size: 12px !important;
    }

    .content-text-wrapper {
        display: flex;
        justify-content: center;
    }

    .list{
        font-size: 12px !important;
    }

    .contact-section {
        height: 90vh !important;
        display: flex !important;
        justify-content: center !important;
        margin: auto !important;
    }

    .content-item {
        margin: auto;
    }
}

.about-picture-container {
    position: relative;
    max-width: 300px;
}

.about-picture-container-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.about-picture-container-wrapper > img {
    height: 250px;
    width: 200px;
}

.about-text-container {
    display: block;
}

.about-text-wrapper > p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
}



.list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px 0px 12px 25px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    background: -webkit-linear-gradient(rgba(0, 77, 133), rgba(0, 204, 255));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 328px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, minmax(130px, 180px));
        gap: 0px 1px;
        padding: 0px 0px 12px 0px;
        margin: 15px 0px 0px;
        overflow: hidden;
        list-style: none;
        background: -webkit-linear-gradient(rgba(0, 77, 133), rgba(0, 204, 255));
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.contact-panel {
    width: 250px;
    position: fixed;
    bottom: 25px;
    left: 40px;
    right: auto;
    z-index: 20;
}

.contact-section {
    display: none;
}

.contact-menu-item {
    display: none;
}

@media screen and (max-width: 1200px) {
    .contact-panel {
        display: none;
    }

    .contact-section {
        display: block;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact-menu-item {
        display: block;
    }
}

.contact-panel ul li {
    list-style: none;
}

.contact-panel ul li img {
    width: 25px;
    height: 25px;
}

.contact-item a {
    margin: 10px;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.profile-picture {
    display: block;
    padding: 0px;
    margin: 15px auto 5px auto;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 77, 133), rgba(0, 204, 255)) 1;
}

.menu-item {
    padding: 5px;
}

.config {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.language-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 45px;
}

.language-button {
    height: 100%;
    width: 100%;
    padding: 5px;
    min-height: 35px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.881);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.language-button.selected {
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.language-button:hover {
    transform: scale(1.01);
}

.content-text {
    display: flex;
    flex-direction: row;
    padding: 7px;
    color: rgba(255, 255, 255, 0.7);
}

.label {
    margin: auto 5px auto 0;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.portfolio-footer-link {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.portfolio-footer-link:visited {
    color: rgba(255, 255, 255, 0.5);
}

.portfolio-footer-link:hover {
    font-size: 12px;
    background: -webkit-linear-gradient(rgba(0, 77, 133), rgba(0, 204, 255));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-item {
    margin: 10px;
    display: flex;
}

.contact-item a {
    display: table;
    color: rgba(255, 255, 255, 0.811);
    text-decoration: none;
}

.contact-item a p {
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.contact-icon {
    height: 100%;
    width: 100%;
    margin-right: 5px;
}

.contact-icon img {
    width: 25px;
    height: 25px;
}

.logo-image {
    width: 50px;
    height: 50px;
}